@charset "UTF-8";
body {
    background-image: url('../img/world.png');
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: grey;
    font-family: "DejaVu Sans Mono";
}


.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.quiz-area{
    width: 400px;
    height: 400px;
    margin: 20px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 10px;
    perspective:600px;
}

.card{
    background-color: antiquewhite;
    border-radius: 20px;
    font-family: Chandas;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.front, .back{
    position:absolute;
    height:100%;
    width:100%;
    border-radius: 20px;
    backface-visibility:hidden;
}
.card:hover{
    transform:rotateY(180deg);
}

.front{
    background-color: antiquewhite;
}

.back{
    background-color: lightcoral;
    transform: rotateY(180deg);
}
